.canva{
	display: block;
	width: 82%;
	height: 100%;
	float: left;
	cursor: default;
}

body, html{
	height: 100%;
}

#panel{
	height: 100%;
	width: 18%;
	float: left;
	background: #8c91fb;
	border-left: groove;
	border-left-width: 5px;
	border-left-color: #2a6496;
}
#panel button, #panel label	{
	font-size: 200%;
}
#newGameBtn {
	position: relative;
	top: 20%;
}

#pauseBtn{
	position: relative;
	top: 30%;
}

#playersCountBlock{
	position: relative;
	top: 40%;
}