.canva{
	display: block;
	width: 82%;
	height: 100%;
	float: left;
	cursor: default;
}

body, html{
	height: 100%;
}

#panel{
	height: 100%;
	width: 18%;
	float: left;
	background: #8c91fb;
	background-image: url("images/Menu.png");
	border-left: groove;
	border-left-width: 5px;
	border-left-color: #2a6496;
}
#panel button, #panel label	{
	font-size: 200%;
}
#newGameBlock {
	position: relative;
	top: 15%;
}

#pauseBlock{
	position: relative;
	top: 25%;
}

#playersCountBlock{
	position: relative;
	top: 35%;
}

#hardnessBlock{
	position: relative;
	top: 40%;
}